
<div class="banner">
  <h1>Ask a question to you Coach</h1>
    <form action = '/answer' method = "get">
      <input class="question" name="question" type="text" label="Question to your coach:" >
      <input type="submit" class="button" value="Ask">
    </form>
</div>
